!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		title LinkFeed - Share what you Care
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		style.
			body{
			padding-top:100px;
			}
	body	
		div.container
			div.header.row
				div.span12
					div.navbar.navbar-fixed-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li.current-page
										a(href='/feed')
											i.icon-comments
											br
											| Mon Feed
									li
										a(href='/profil')
											i.icon-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.icon-off
											br
											| Déconnexion
		div.page-title
			div.container
				div.row
					div.span12
						i.icon-tasks.page-title-icon
						h2 Découvrez ! / 
							p  Voici les posts récents de vos amis
							
						form.form-search.pull-right(method="POST",action="/feed/search",accept-charset="UTF-8")
							div.input-append
								input.search-query#searchfield(type="text" name="searchfield" placeholder="Recherche" data-provide='typeahead', autocomplete='off', data-items='10', data-source='[#{data}]')
								input#data(type="hidden" name="data" value="#{data}")
								button.btn.btn-info(type="submit")
									i.icon-search
									|  Recherche

		div.container
			div.row
				div.span12
					if links
						table.table
							thead
								tr
									th
									th URL
									th User
									th Description
									th Tags
									th Date
									th
							tbody
								each link in links
									tr
										td
											<img src="http://images.shrinktheweb.com/xino.php?stwembed=1&stwxmax=120&stwymax=90&stwaccesskeyid=cb820c771236ff3&stwurl=#{link.url}" border=0 />	
											
										td 
											a(href="#{link.url}" target="_blank") #{link.url}
										
										td 
											a(href="profil/#{link.user}", target="_BLANK") #{link.user}
											
										td #{link.description}
											
										td #{link.tags}
										
										td #{link.date}
										
										td 
											div.fb-share-button(data-href='#{link.url}', data-type='button')
											div
												a.twitter-share-button(href='https://twitter.com/share', data-text='Regardez ça!', data-url='#{link.url}', data-lang='fr', data-count='none') Tweeter
					else
						h4.blue Il n'y a aucun lien à afficher

										
		
		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/bootstrap/js/bootstrap-tagsinput.min.js")

		#fb-root
			script.
				(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
		script.
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

				
