!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		title LinkFeed - Share what you Care
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		
		link(href='select2/select2.css', rel='stylesheet')
		
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		
		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/bootstrap/js/bootstrap-tagsinput.min.js")
		script(src='select2/select2.js')
		
		#fb-root
			script.
				(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/fr_FR/all.js#xfbml=1";
				fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
		script.
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

		script.
		
			$(document).ready(function() { 
				var myArray="[#{data}]";
				myArray=myArray.replace(/&quot;/gi,"");
				myArray=myArray.replace(/\[/gi,"");
				myArray=myArray.replace(/\]/gi,"");
				myArray=myArray.split(',');
				
				$("#e1").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					}
				}); 
				
				
			});
		
		
	body	
			div.header.row
				div
					div.navbar.navbar-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li.current-page
										a(href='/feed')
											i.icon-comments
											br
											| Mon Feed
									li
										a(href='/profil')
											i.icon-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.icon-off
											br
											| Déconnexion
		div.page-title
			div.container
				div.row
					div.span12
						i.icon-tasks.page-title-icon
						h2 Découvrez ! / 
							p  Voici les posts récents de vos amis
							
						form.form-search.pull-right(method="POST",action="/feed/search",accept-charset="UTF-8")
							div.filtre
								input#data(type="hidden" name="data" value="#{data}")
								input#e1(name="searchfield", placeholder="Filtrer", style="margin-right:5px;")
								button.btn.btn-info(id="searchbtn" type="submit")
									i.icon-search
									

		div.container
			div.row
				div.span12
					if links.length != 0
						.container
							.row
								each link in links
									.span6
										.well
											.row-fluid
												.span3
													img.img-rounded(src='http://images.shrinktheweb.com/xino.php?stwembed=1&stwxmax=120&stwymax=90&stwaccesskeyid=cb820c771236ff3&stwurl=#{link.url}', border='0')
													//- <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp" class="img-rounded img-responsive" />
												.span9
													.row-fluid
														a.url.pull-left(href="#{link.url}" target="_blank") #{link.title.toUpperCase()} 
															i.icon.icon-share
														div(style="float:right;")
															span
																a.twitter-share-button(href='https://twitter.com/share', data-text='Regardez ça!', data-url='#{link.url}', data-lang='fr', data-count='none') Tweeter
														.row-fluid
														p.pull-left
															span.comment.blue
																“#{link.description}” 
															div(style="float:right;")
																.fb-share-button(data-href='#{link.url}', data-type='button')
													.row-fluid
														p.pull-left
															| Partagé le #{link.date} par 
															a(href="/profil/#{link.user}") #{link.user}
											hr.black
											.row-fluid.rating-desc
												div.span12
													each ctag in link.tags
														span.tag #{ctag.toUpperCase()}

						if filtre
							a.btn.pull-left(href="/profil") Annuler filtre

					else
						if filtre
							h4.blue Désolé, aucun lien ne correspond à votre filtre. 
							a.btn(href="/feed") Retour
						else
							h4.blue Désolé, vous n'avez aucun lien dans votre feed. 
							a.btn(href="/findFriends") Recherchez des amis!
								
		

		

		