!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		title LinkFeed - Share what you Care
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		style.
			body{
			padding-top:100px;
			}
	body
		div.container
			div.header.row
				div.span12
					div.navbar.navbar-fixed-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li.current-page
										a(href='/feed')
											i.icon-comments
											br
											| Mon Feed
									li
										a(href='/profil')
											i.icon-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.icon-off
											br
											| Déconnexion
		div.page-title
			div.container
				div.row
					div.span12
						i.icon-tasks.page-title-icon
						h2 Découvrez ! / 
							p  Voici les posts récents de vos amis
							
		div.container
			div.row
				div.span12
					table.table
						tbody
							tr
								td #{user}
								td 
									a(href='#{url}' target='_blank') #{url}
								td #{tags}
								td #{description}
					
		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/bootstrap/js/bootstrap-tagsinput.min.js")

				
