!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title LinkFeed - Share what you Care
		
		link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='57x57', href='/img/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/img/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/img/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/img/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/img/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/img/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/img/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/img/apple-touch-icon-152x152.png')
		
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')

		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		
		link(href='/select2/select2.css', rel='stylesheet')
		
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		
		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src='/select2/select2.js')

		script.
		
			$(document).ready(function() { 
		
				$("[rel='tooltip']").tooltip();
				
				var myArray="#{data}";
				myArray=myArray.split(',');

				var filtresTab="#{filtresTab}";
				filtresTab=filtresTab.split(',');
				
				$("#e1").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					},
					closeOnSelect: true
				}); 
				
				$("#e1").select2('val',[filtresTab]);
			});
			
			function searchTag(tag){
				$("#e1").select2('val',[tag]);
				$("#searchbtn").click();
			};


		
		
	body	
			div.header.row
				div
					div.navbar.navbar-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand(href='/feed') LinkFeed
								
							div.nav-collapse.collapse
								ul.nav.pull-right
									li.current-page
										a(href='/feed')
											i.fa.fa-comments
											br
											| Mon Feed
									li
										a(href='/profil')
											i.fa.fa-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.fa.fa-power-off
											br
											| Déconnexion	

		div.page-title
			div.container
				div.row
					div.span12
						a.btn-social(rel="tooltip",data-original-title="À propos de LinkFeed",style="background-image: url('/img/info.jpg');",href='/info')
						i.fa.fa-tasks.page-title-icon
						h2 Découvrez ! / 
							p  Voici les posts récents de vos amis
							
						form.form-search.pull-right(method="POST",action="/feed/search",accept-charset="UTF-8")
							div.filtre(style="margin-left:15px;")
								input#data(type="hidden" name="data" value="#{data}")
								input#e1(name="searchfield", placeholder="Filtrer par tags et/ou personnes")
								button.btn-flat-blue(id="searchbtn" type="submit")
									i.fa.fa-search
						a.btn-flat-blue.pull-right(style="top:-2px;", href="/users")
							i.fa.fa-search
							|  Rechercher des contacts
						

		div.container
			div.row
				div.span12
					if links.length != 0
						.container
							.row
								each link in links
									.span6
										.well
											.row-fluid
												.span3
													a(target="_blank", href="#{link.url}")
														img.img-rounded.thumbshot(style="margin-bottom:15px", src='http://images.shrinktheweb.com/xino.php?stwembed=1&stwxmax=120&stwymax=90&stwaccesskeyid=cb820c771236ff3&stwurl=#{link.url}', border='0')
												.span9
													.row-fluid
														a.link.url.pull-left(href="#{link.url}" target="_blank")  #{link.title.toUpperCase()} 
															i.fa.fa-share
														.row-fluid
														p.pull-left
															span.comment.blue
																“#{link.description}” 
													.row-fluid
														p.pull-left
															| Partagé le #{link.date} par 
															a.link(href="/profil/#{link.user}") #{link.user}
														div(style="float:right;")
															a.btn-social(rel="tooltip",data-original-title="Ajouter à mes liens",style="background-image: url('/img/lf_icon.png');",href='/reshare/#{link._id}')
															a.btn-social(rel="tooltip",data-original-title="Partager sur Twitter",style="background-image: url('/img/twitter.png');", href='http://twitter.com/home?status=Regardez ça! #{link.url}', target="_blank")
															a.btn-social(rel="tooltip",data-original-title="Partager sur Facebook",style="background-image: url('/img/fb.png');",href='http://www.facebook.com/sharer.php?u=#{link.url}&t=#{link.title}', target="_blank")


											hr.black
											.row-fluid.rating-desc
												div.span12
													if link.tags.length != 0
														each ctag in link.tags
															a.tag(onClick="searchTag('#{ctag}');") ##{ctag.toUpperCase()}
													else
														span.tag AUCUN TAG

						if filtre
							a.btn-flat-green.pull-left(href="/feed") Annuler filtre

					else
						if filtre
							h4.blue Désolé, aucun lien ne correspond à votre filtre. 
							a.btn-flat-green(href="/feed") Retour
						else
							h4.blue Désolé, vous n'avez aucun lien dans votre feed. 
							a.link(href="/users") Rechercher des contacts
								
		

		

		