html(lang='fr')
	head
		meta(charset='utf-8')

		title LinkFeed - Amis de #{user}

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		style.
			body{
			padding-top:100px;
			}
		script(src="/js/md5hash.js")
			
	body
		div.container
			div.header.row
				div.span12
					div.navbar.navbar-fixed-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li
										a(href='/feed')
											i.icon-comments
											br
											| Mon Feed
									li
										a(href='/profil')
											i.icon-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.icon-off
											br
											| Déconnexion

		div.page-title
			div.container
				div.row
					div.span12
						i.icon-tasks.page-title-icon
						h2
							| Bienvenue 
							b.blue #{user} 
							| /
							p Visitez le profil de vos amis !

		
		div.container
			div.row
				div.span12
						if friends
							h4.blue Voici vos amis :
							br
							table.table
								thead
									tr
										th
										th Nom d'utilisateur
										th Email
								tbody
									each friend in friends
										tr
											td
												script(type="text/javascript") email = "#{friend.email}";hash_email = calcMD5(email); document.write("<img src='http://www.gravatar.com/avatar/"+hash_email+"?s=80' />");
											td 
												a(href="profil/#{friend._id}") #{friend._id}
											td 
												a(href='mailto:#{friend.email}') #{friend.email}


						else
							h4.blue Vous n'avez aucun ami
		
		br
		br
		br
		a(href="profil", class="btn btn-large btn-info") Retourner sur votre profil	

		
		script(src="/js/jquery-1.8.2.min.js")
		
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/bootstrap/js/bootstrap-tagsinput.min.js")


		
