!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title LinkFeed - Amis de #{user._id}
		link(rel='shortcut icon',href='/img/favicon.ico')
		link(rel='icon',href='/img/favicon.ico')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")	
		script(src="/js/md5hash.js")
		
		script.
			$(document).ready(function() { 
				$("[rel='tooltip']").tooltip();
			});
			
	body
		div.header.row
			div
				div.navbar.navbar-top
					div.navbar-inner
						a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						h1
							a.brand(href='/feed') LinkFeed
						div.nav-collapse.collapse
							ul.nav.pull-right
								li
									a(href='/feed')
										i.fa.fa-comments
										br
										| Mon Feed
								li
									a(href='/profil')
										i.fa.fa-user
										br
										| Mon Profil
								li
									a(href='/user/logout')
										i.fa.fa-power-off
										br
										| Déconnexion
		div.page-title
			div.container
				div.row
					div.span12
					
						- var nbamisUser = 0
						if user.friends
							- each index in user.friends
								if index.confirmed == true
									- nbamisUser++
					
						i.fa.fa-tasks.page-title-icon
						h2
							| Consultez vos amis ! 
							if nbamisUser == 1
								| ( #{nbamisUser} ami )
							else if nbamisUser > 1
								| ( #{nbamisUser} amis )
							else
								| ( Aucun ami )
							
		div.container
			div.row
				div.span12
					if friends
						.container
							.row
								each friend in friends
										.span4
											.well
												.row-fluid
													.span4
														script(type="text/javascript") email = "#{friend.email}";hash_email = calcMD5(email); document.write("<img class='img-avatar' src='http://www.gravatar.com/avatar/"+hash_email+"?d=mm&s=60' />");
													.span8
														.row-fluid
															.span12
																a.link.pull-left(href="/profil/#{friend._id.toLowerCase()}")
																	i.fa.fa-user
																	|  #{friend._id.toUpperCase()} 
																a.btn-flat-red.pull-right#deleteF(rel="tooltip", data-toggle="tooltip" , data-original-title="Supprimer cet ami", style="padding:3px 6px 3px 6px;", href="/deleteFriend/#{friend._id.toLowerCase()}")
																	i.fa.fa-trash-o
														.row-fluid
															p.pull-left.comment.blue(style="font-size:12px")
																a.link(href='mailto:#{friend.email}') #{friend.email}
												.row-fluid
													p.pull-left(style="margin:10px 0 0 10px")
														| Inscrit depuis le #{friend.date_ins} 

												hr.black
												.row-fluid.tags-bar
													div.span12
														span.tag
															- var nbamis = 0
															if friend.friends
																- each ami in friend.friends
																	if ami.confirmed == true
																		- nbamis++
																| #{nbamis} amis
															else
																| 0 ami
															
														if links
															- var nblinks = 0
															- each link in links
																if link.user == friend._id
																	- nblinks++
															
															span.tag
																if nblinks == 0
																	| #{nblinks} lien partagé
																else
																	| #{nblinks} liens partagés
									

					else
						h4.blue Désolé, vous n'avez aucun ami!
						hr
						a.btn-flat-blue.pull-left(href="/users") Rerchercher des amis	
					a.btn-flat-green.pull-left(href="/profil") Retour au profil


		
