!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		title LinkFeed - #{user}
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		style.
			body{
			padding-top:100px;
			}

	body
		div.container
			div.header.row
				div.span12
					div.navbar.navbar-fixed-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li
										a(href='/feed')
											i.icon-comments
											br
											| Mon Feed
									li.current-page
										a(href='/profil')
											i.icon-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.icon-off
											br
											| Déconnexion

		div.page-title
			div.container
				div.row
					div.span12
						i.icon-tasks.page-title-icon
						h2
							| Bienvenue 
							b.blue #{user} 
							| /
							p Vous pouvez consulter vos informations et postez des liens.
							
						form.form-search.pull-right(method="POST",action="/profil/search",accept-charset="UTF-8")
							div.input-append
								input.search-query#searchfield(type="text" name="searchfield" placeholder="Recherche" data-provide='typeahead', autocomplete='off', data-items='10', data-source='[#{data}]')
								button.btn.btn-info(type="submit")
									i.icon-search
									|  Recherche

		div.container
			button.btn.btn-info.btn-lg#afficher(onClick="$('#afficher').hide();$('#partage').css('visibility','visible').hide().fadeIn().removeClass('hidden');")
				i.icon-share
				|  Partager un lien

			br
			br
			div.hide#partage
				div.row
					div.span10.offset1.well
						button.close(onClick="$('#partage').hide('slow');$('#afficher').show();") ×
						h3.blue Partage de lien :
						form(method="POST", action="/lien/new", accept-charset="UTF-8")
							input#url.span4(type="url", name="url", value="http://", required="required")
							input#description.span4(type="text", name="description", placeholder="Description", required="required")
							p.blue
								i.icon-tags
								| Tags :
							select#tags(name="tags", multiple data-role="tagsinput")
							button.btn.btn-info.btn-lg(type="submit")
								i.icon-share
								|  Partager !
		
		div.container
			div.row
				div.span12
					if(typeof links[0] !== "undefined")
						h4.blue Vos liens publiés :
						br
						table.table
							thead
								tr
									th URL
									th Description
									th Tags
							tbody
								each link in links
									tr
										td 
											a(href="#{link.url}" target="_blank") #{link.url}
											
										td #{link.description}
											
										td #{link.tags}	
										
										td
											- var update = "update" + link._id
											- var dispmodif = "dispmodif" + link._id
											- var suppr = "suppr" + link._id
											button.btn.btn-info.btn-lg(id= dispmodif, onClick="$('##{dispmodif}').hide();$('##{update}').css('visibility','visible').hide().fadeIn().removeClass('hidden');$('##{suppr}').hide();")
												i.icon-edit
												|  Modifier
											div.hide(id= update)
												button.btn.close(onClick="$('##{update}').hide('slow');$('##{dispmodif}').show('slow');$('##{suppr}').show('slow');") X
												form(action='/update/#{link._id}', method='post')
													input#url.span4(type="hidden", name="url", placeholder="URL", value="#{link.url}", required="required")
													input#description.span4(type="text", name="description", placeholder="Description", value="#{link.description}", required="required")
													p.blue
														i.icon-tags
														| Tags :
													select#tags(name="tags", multiple data-role="tagsinput")
													button.btn.btn-success(type='submit') Valider
										td
											a(id= suppr, rel='tooltip', href="/delete/#{link._id}", data-original-title='Supprimer le lien')
												button.btn.btn-danger.btn-mini(type='button', aria-hidden='true') X
					else
						h4.blue Vous n'avez aucun lien
										
										

		
		script(src="/js/jquery-1.8.2.min.js")
		
		script.
			$(function(){$('a#suppr').tooltip({placement:'right'});});

		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/bootstrap/js/bootstrap-tagsinput.min.js")

		
