!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title LinkFeed - #{user[0]._id.charAt(0).toUpperCase()}#{user[0]._id.slice(1)}
		
		link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='57x57', href='/img/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/img/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/img/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/img/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/img/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/img/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/img/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/img/apple-touch-icon-152x152.png')
		
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		
		link(href='/select2/select2.css', rel='stylesheet')
		
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
			

		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")	
		script(src='/select2/select2.js')
		script(src="/js/md5hash.js")
			
		script.
		
			function fillTags(id, tags){
				var tagsarray = tags.split(",");
				$(id).select2('val',[tagsarray]);
			};
			
			function fillTitre() { 
				var regUrl = new RegExp('(^([a-z]*://)?(www.)?)', 'gi');
				var titre = $('#url').val().replace(regUrl,"");
				if (titre.indexOf(".")!=-1){
					var titre = titre.substring(0,titre.indexOf("."));
				}
				$('#titre').val(titre.charAt(0).toUpperCase()+titre.slice(1));
			};
		
			$(document).ready(function() { 
			
				$("[rel='tooltip']").tooltip();
			
				var myArray="#{data}";
				myArray=myArray.split(',');

				var filtresTab="#{filtresTab}";
				filtresTab=filtresTab.split(',');
			
		
			
				$("#e1").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					},
					closeOnSelect: true
				}); 
				
				
				$(".modtags").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					},
					closeOnSelect: true
				});
				
				
				$("#e2").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					},
					closeOnSelect: true
				}); 

				$("#e2").select2('val',[filtresTab]);
	
				
				$('body').on('touchstart.dropdown', '.dropdown-menu', function (e) {
					e.stopPropagation(); 
				});

				$('#passError').hide();

				$('#mdp').bind('input',function () {
					if ($('#mdp').val()!="" && $('#mdpConf').val()!=""){
						check();
					}
				});
				
				
				$('#mdpConf').bind('input',function () {
					if ($('#mdp').val()!="" && $('#mdpConf').val()!=""){
						check();
					}
				});
				
				$('#confirmDel').bind('input',function () {
						checkDel();
				});
				
			});
			
			function check(){
				if ($('#mdp').val()!=$('#mdpConf').val()) 
				{
					$('#passError').hide();
					$('#passError').show();
					return false;
				}
				else
				{
					$('#passError').hide();
				}
			};
			
			function checkDel(){
				if ($('#confirmDel').val().toLowerCase()!="supprimer mon compte") 
				{
					$('#confirmError').hide();
					$('#confirmError').show();
					return false;
				}
				else
				{
					$('#confirmError').hide();
				}
			};
			
			function searchTag(tag){
				$("#e2").select2('val',[tag]);
				$("#searchbtn").click();
			};

	body
			div.header.row
				div
					div.navbar.navbar-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand(href='/feed') LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li
										a(href='/feed')
											i.fa.fa-comments
											br
											| Mon Feed
									li.current-page
										a(href='/profil')
											i.fa.fa-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.fa.fa-power-off
											br
											| Déconnexion

		div.page-title
			div.container
				div.row
					div.span12
						i.fa.fa-tasks.page-title-icon
						h2
							| Bienvenue 
							b.blue #{user[0]._id.charAt(0).toUpperCase()}#{user[0]._id.slice(1)} 
							| /
							p Vous pouvez consulter vos informations et poster des liens.
							
						form.form-search.pull-right(method="POST",action="/profil/search",accept-charset="UTF-8")
							div.filtre
								input#data(type="hidden" name="data" value="#{data}")
								input#e2(name="searchfield", placeholder="Filtrer par tags")
								button.btn-flat-blue(id="searchbtn" type="submit")
									i.fa.fa-search
								
		div.container.well
			div.row-fluid
				div.span12
					div.row-fluid


						div.span3
							script(type="text/javascript") email = "#{user[0].email}";hash_email = calcMD5(email); document.write("<img class='img-avatar' src='http://www.gravatar.com/avatar/"+hash_email+"?d=mm&s=110' />")
							p.blue(style="margin-top:15px")
								| Inscrit depuis le 
								b
									| #{user[0].date_ins.slice(0,10)} 

						div.span9
							div.btn-group(style="float:right;position:relative;")
								a.btn-flat-blue.dropdown-toggle(id="btnEdit",data-toggle='dropdown', href='#')
									i.fa.fa-pencil(style="font-size:15px")
								ul.dropdown-menu(style="right: 0; left: auto;")
									li
										a#modifMail(href="#NULL",onClick="$('#info').hide();$('#btnEdit').hide();",data-toggle='collapse',data-target='.email-collapse')
											i.fa.fa-envelope
											|   Modifier l'adresse E-mail
									li
										a#modifPass(href="#NULL",onClick="$('#info').hide();$('#btnEdit').hide();",data-toggle='collapse',data-target='.pass-collapse')
											i.fa.fa-lock
											|	Modifier le mot de passe  
									li
										a#modifPass(href="#NULL",onClick="$('#info').hide();$('#btnEdit').hide();",data-toggle='collapse',data-target='.deleteAc-collapse')
											i.fa.fa-trash-o
											|	Supprimer mon compte


							- if (typeof(messageError) !== 'undefined'){
							div.alert.alert-danger.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								strong Erreur!
								|  #{messageError}
							if messageError
								script.
									$(document).ready(function() { 
										$('#modifMail').click();
									});
							-}
							
							div.deleteAc-collapse.collapse(id="deleteAc")
								form#deleteAc(method='POST', action='/deleteAccount', accept-charset='UTF-8')
									p Veuillez saisir "Supprimer mon compte" dans le champ ci-dessous puis valider (irréversible)
									div.left-inner-addon
										i.fa.fa-eye
										input#confirmDel(type='text', name='confirmDel', placeholder='Supprimer mon compte',required='required')
									#confirmError.alert.alert-danger
										| Veuillez entrer le message complet!
									button.btn-flat-green(type="submit", onClick="return checkDel();") 
										i.fa.fa-check
										|  Valider
									button.btn-flat-red(type="button", onClick="$('#info').show();$('#btnEdit').show();", style="margin-left:15px", data-toggle='collapse', data-target='.deleteAc-collapse') 
										i.fa.fa-times
										|  Annuler
						
							div.email-collapse.collapse(id="email")
								form#emailForm(method='POST', action='/updateEmail', accept-charset='UTF-8')
									div.left-inner-addon
										i.fa.fa-envelope
										input#email(type='email', name='email', placeholder='Adresse E-mail', value="#{user[0].email}" required='required')
										br
									button.btn-flat-green(type="submit") 
										i.fa.fa-check
										|  Valider
									button.btn-flat-red(type="button", onClick="$('#info').show();$('#btnEdit').show();", style="margin-left:15px", data-toggle='collapse', data-target='.email-collapse') 
										i.fa.fa-times
										|  Annuler

							- if (typeof(messageError2) !== 'undefined'){
							div.alert.alert-danger.alert-dismissable
								button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
								strong Erreur!
								|  #{messageError2}
							if messageError2
								script.
									$(document).ready(function() { 
										$('#modifPass').click();
									});
							-}

							div.pass-collapse.collapse(id="pass")
								form#passForm(method='POST',action='/updatePass',accept-charset='UTF-8')
									div.left-inner-addon
										i.fa.fa-lock
										input#oldPass(type='password', name='old', placeholder='Mot de passe actuel',required='required')
									div.left-inner-addon
										i.fa.fa-lock
										input#mdp(type='password', name='mdp', placeholder='Nouveau mot de passe',required='required')
									div.left-inner-addon
										i.fa.fa-lock
										input#mdpConf(type='password', name='mdp_conf', placeholder='Confirmer nouveau mdp',required='required')
									#passError.alert.alert-danger
										| Les mots de passe ne correspondent pas
									button.btn-flat-green(type="submit", onClick="return check();") 
										i.fa.fa-check
										|  Valider
									button.btn-flat-red(type="button", onClick="$('#info').show();$('#btnEdit').show();", style="margin-left:15px", data-toggle='collapse', data-target='.pass-collapse')
										i.fa.fa-times
										|  Annuler

							div(id="info")
								h4.blue À propos :
								br
								p.blue Adresse email : 
									a.link(href='mailto:#{user[0].email}') #{user[0].email}
								p.blue Nombre de liens postés : 
									span.badge.badge-info #{links.length}

		div.container
			div.row-fluid
				div.span12
					a.btn-flat-blue#afficher(style="width:218px", onClick="$('#afficher').hide();$('#partage').css('visibility','visible').hide().fadeIn().removeClass('hidden');")
						i.fa.fa-plus
						|  Partager un lien
					a.btn-flat-blue(style="width:218px", href="/users")
						i.fa.fa-search
						|  Rechercher des contacts
						
						- var nbamis = 0
						if user[0].friends
							- each friend in user[0].friends
								if friend.confirmed == true
									- nbamis++

					a.btn-flat-blue(style="width:218px", href="/friends")
						i.fa.fa-user 
						|  Voir amis 
						span.badge.badge-info  #{nbamis}
					if !filtre
						if nbddes == 0
							a.btn-flat-green(style="width:218px", href="/pendingRequests")
								i.fa.fa-bell-o 
								|  Invitation reçue  
								span.badge.badge-success  #{nbddes}
						else
							a.btn-flat-red(style="width:218px", href="/pendingRequests")
								i.fa.fa-bell
								|  Invitations reçues  
								span.badge.badge-important #{nbddes}
								
					br
					br
					div.hide#partage
						br
						br
						div.row
							div.span10.offset1.well
								button.close(onClick="$('#partage').hide('slow');$('#afficher').show();") ×
								h3.blue Partage de lien :
								form(method="POST", action="/lien/new", accept-charset="UTF-8")
									input#url.span4(type="url", value="http://", name="url", placeholder="URL", required="required")
									input(onFocus="fillTitre();" , id="titre", type="text", maxlength="25" , name="titre", placeholder="Titre", required="required")
									input#description.span4(type="text", maxlength="40", name="description", placeholder="Description", required="required")
									p.blue
										i.fa.fa-tags
										| Tags :
									p
										input#e1(name="tags", placeholder="Tags", multiple)
									button.btn-flat-blue(type="submit")
										i.fa.fa-share
										|  Partager !
			
		div.container
			div.row
				div.span12
					if links.length != 0
						h4.blue Vos liens publiés :
						br
						.container
							.row
								each link in links
									.span6
										.well
											.row-fluid
												.span3
													a(target="_blank", href="#{link.url}")
														img.img-rounded.thumbshot(src='http://images.shrinktheweb.com/xino.php?stwembed=1&stwxmax=120&stwymax=90&stwaccesskeyid=cb820c771236ff3&stwurl=#{link.url}', border='0')
												.span9
													.row-fluid
														.span9
															a.link.url.pull-left(href="#{link.url}" target="_blank") #{link.title.toUpperCase()} 
																i.fa.fa-share
														.span3
															- var update = "update" + link._id
															- var dispmodif = "dispmodif" + link._id
															- var tagsmodif = "tagsmodif" + link._id
															- var suppr = "suppr" + link._id
															
															div.btn-group(style="float:right;position:relative;")
																a.btn.dropdown-toggle(rel="tooltip",data-original-title="Options",data-toggle='dropdown', href='#')
																	i.fa.fa-chevron-down(style="font-size:15px") 
																	|  
																ul.dropdown-menu(style="right: 0; left: auto;")
																	li
																		a(href="#NULL", onClick="fillTags('##{tagsmodif}','#{link.tags}');$('##{update}').css('visibility','visible').hide().fadeIn().removeClass('hidden');$('##{suppr}').hide();")
																			i.fa.fa-pencil
																			|  Modifier
																			
																	li
																		a(id= suppr, class="suppr", href="/delete/#{link._id}")
																			i.fa.fa-times
																			|  Supprimer
													.row-fluid
														p.pull-left.comment.blue
															“#{link.description}”
													.row-fluid
														p.pull-left
															| Partagé le #{link.date}

											hr.black
											.row-fluid.rating-desc
												div.span12
													if link.tags.length != 0
														each ctag in link.tags
															a.tag(onClick="searchTag('#{ctag}');") ##{ctag.toUpperCase()}
													else
														span.tag AUCUN TAG

											div.hide(id= update)
												br
												button.btn.close(onClick="$('##{update}').hide();$('##{suppr}').show();") X
												form(action='/update/#{link._id}', method='post')
													input(id="titre", type="text", maxlength="25" , name="titre", value="#{link.title}", placeholder="Titre", required="required")
													input#description.span4(type="text", maxlength="40" , name="description", placeholder="Description", value="#{link.description}", required="required")
													p.blue
														i.fa.fa-tags
														| Tags :
													p
														input.modtags(name="tags", id= tagsmodif,  placeholder="Tags", multiple)
													button.btn-flat-green(type="submit") Valider
						if filtre
							a.btn-flat-green.pull-left(href="/profil") Annuler filtre

					else
						if filtre
							h4.blue Désolé, aucun lien ne correspond à votre filtre. 
							a.btn-flat-green(href="/profil") Retour
						else
							h4.blue Désolé, vous n'avez partagé aucun lien. 
							a.btn-flat-blue#afficher(href="#null", onClick="$('#afficher').hide();$('#partage').css('visibility','visible').hide().fadeIn().removeClass('hidden');") Partagez votre premier lien!
