!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')

		title LinkFeed - #{userdisp[0]._id}

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		style.
			body{
			padding-top:100px;
			}
			
		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/js/md5hash.js")
		

	body
		div.container
			div.header.row
				div.span12
					div.navbar.navbar-fixed-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li
										a(href='/feed')
											i.icon-comments
											br
											| Mon Feed
									li
										a(href='/profil')
											i.icon-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.icon-off
											br
											| Déconnexion

		div.page-title
			div.container
				div.row
					div.span12
						i.icon-tasks.page-title-icon
						h2
							| Profil de 
							b.blue #{userdisp[0]._id} 
							|  /
							p Vous pouvez consulter ses informations et ses liens postés.
						a.btn.btn-info.btn-large.pull-right(href="/follow/#{userdisp[0]._id}")
							i.icon-user
							|  Suivre
						a.btn.btn-danger.btn-large.pull-right(href="#")
							i.icon-user
							|  Ne plus suivre 
		
		div.container
			div.row
				div.span12
					div.row
						div.span2.well
							script(type="text/javascript") email = "#{userdisp[0].email}";hash_email = calcMD5(email); document.write("<img src='http://www.gravatar.com/avatar/"+hash_email+"?s=80' />");
							p 
								hr
								| #{userdisp[0]._id.toUpperCase()}
						div.span9.well
							h4.blue Informations :
							br
							p
								span.blue Nom d'utilisateur : 
								| #{userdisp[0]._id}
							p 
								span.blue Adresse email : 
								| 
								a(href='mailto:#{userdisp[0].email}') #{userdisp[0].email}
								
							p 
								span.blue Nombre de liens postés : 
									span.badge.badge-info #{links.length}
					div.row
						br
							
						if(typeof links[0] !== "undefined")
							h4.blue Ses liens publiés :
							br
							table.table
								thead
									tr
										th
										th URL
										th Description
										th Tags
										th Date de publication
								tbody
									each link in links
										tr
											td
												<img src="http://images.shrinktheweb.com/xino.php?stwembed=1&stwxmax=100&stwymax=75&stwaccesskeyid=cb820c771236ff3&stwurl=#{link.url}" border=0 />	

											td 
												a.url(href="#{link.url}" target="_blank") #{link.url}
												
											td #{link.description}
												
											td 
												each ctag in link.tags
													span.tag #{ctag}	

											td #{link.date}

														
						else
							h4.blue Il n'a posté aucun lien