!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title LinkFeed - #{user[0]._id}
		link(rel='shortcut icon',href='/img/favicon.ico')
		link(rel='icon',href='/img/favicon.ico')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		
		link(href='/select2/select2.css', rel='stylesheet')
		
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
			

		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src='/select2/select2.js')
		script(src="/js/md5hash.js")
			
		script.
		
			function fillTags(id, tags){
				var tagsarray = tags.split(",");
				$(id).select2('val',[tagsarray]);
			};
		
			$(document).ready(function() { 
				var myArray="[#{data}]";
				myArray=myArray.replace(/&quot;/gi,"");
				myArray=myArray.replace(/\[/gi,"");
				myArray=myArray.replace(/\]/gi,"");
				myArray=myArray.split(',');
			
				$("#e1").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					},
					closeOnSelect: true
				}); 
				
				
				$(".modtags").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					},
					closeOnSelect: true
				});
				
				
				$("#e2").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					},
					closeOnSelect: true
				}); 
				
				$('body').on('touchstart.dropdown', '.dropdown-menu', function (e) {
					e.stopPropagation(); 
				});
				
				$('#titre').bind('click', function() { 
					var regUrl = new RegExp('(^([a-z]*://)?(www.)?)', 'gi');
					var titre = $('#url').val().replace(regUrl,"");
					if (titre.indexOf(".")!=-1){
						var titre = titre.substring(0,titre.indexOf("."));
					}
					$('#titre').val(titre.charAt(0).toUpperCase()+titre.slice(1));
				});
				
				
			});

	body
			div.header.row
				div
					div.navbar.navbar-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li
										a(href='/feed')
											i.fa.fa-comments
											br
											| Mon Feed
									li.current-page
										a(href='/profil')
											i.fa.fa-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.fa.fa-power-off
											br
											| Déconnexion

		div.page-title
			div.container
				div.row
					div.span12
						i.fa.fa-tasks.page-title-icon
						h2
							| Bienvenue 
							b.blue #{user[0]._id.charAt(0).toUpperCase()}#{user[0]._id.slice(1)} 
							| /
							p Vous pouvez consulter vos informations et poster des liens.
							
						form.form-search.pull-right(method="POST",action="/profil/search",accept-charset="UTF-8")
							div.filtre
								input#data(type="hidden" name="data" value="#{data}")
								input#e2(name="searchfield", placeholder="Filtrer par tags", style="margin-right:5px;")
								button.btn.btn-info(id="searchbtn" type="submit")
									i.fa.fa-search
								
		div.container.well
			div.row-fluid
				div.span12
					div.row-fluid


						div.span3
							script(type="text/javascript") email = "#{user[0].email}";hash_email = calcMD5(email); document.write("<img src='http://www.gravatar.com/avatar/"+hash_email+"?d=mm&s=110' />")
							p.blue
								| Inscrit depuis le 
								b
									| #{user[0].date_ins.slice(0,10)} 
						div.span9
							h4.blue À propos :
							br
							p.blue Adresse email : 
								a(href='mailto:#{user[0].email}') #{user[0].email}
							p.blue Nombre de liens postés : 
								span.badge.badge-info #{links.length}								
							


		div.container
			div.row-fluid
				div.span12
					a.btn.btn-info.btn-large#afficher(onClick="$('#afficher').hide();$('#partage').css('visibility','visible').hide().fadeIn().removeClass('hidden');")
						i.fa.fa-share
						|  Partager un lien
					a.btn.btn-info.btn-large(style="margin:3px 0 0 15px", href="/users")
						i.fa.fa-search
						|  Rechercher des contacts
						
						- var nbamis = 0
						if user[0].friends
							- each friend in user[0].friends
								if friend.confirmed == true
									- nbamis++

					a.btn.btn-info.btn-large(style="margin:3px 0 0 15px", href="/friends")
						i.fa.fa-user
						|  Voir amis 
						span.badge.badge-info  #{nbamis}
					if !filtre
						if nbddes == 0
							a.btn.btn-success.btn-large(style="margin:3px 0 0 15px", href="/pendingRequests")
								| Demandes en attente 
								span.badge.badge-success  #{nbddes}
						else
							a.btn.btn-danger.btn-large(style="margin:3px 0 0 15px", href="/pendingRequests")
								| Demandes en attente 
								span.badge.badge-important  #{nbddes}
								
					br
					br
					div.hide#partage
						br
						br
						div.row
							div.span10.offset1.well
								button.close(onClick="$('#partage').hide('slow');$('#afficher').show();") ×
								h3.blue Partage de lien :
								form(method="POST", action="/lien/new", accept-charset="UTF-8")
									input#url.span4(type="url", value="http://", name="url", placeholder="URL", required="required")
									input(id="titre", type="text", maxlength="25" , name="titre", placeholder="Titre", required="required")
									input#description.span4(type="text", maxlength="40", name="description", placeholder="Description", required="required")
									p.blue
										i.fa.fa-tags
										| Tags :
									p
										input#e1(name="tags", placeholder="Tags", multiple)
									button.btn.btn-info(type="submit")
										i.fa.fa-share
										|  Partager !
			
		div.container
			div.row
				div.span12
					if links.length != 0
						h4.blue Vos liens publiés :
						br
						.container
							.row
								each link in links
									.span6
										.well
											.row-fluid
												.span3
													img.img-rounded(src='http://images.shrinktheweb.com/xino.php?stwembed=1&stwxmax=120&stwymax=90&stwaccesskeyid=cb820c771236ff3&stwurl=#{link.url}', border='0')
												.span9
													.row-fluid
														.span9
															a.url.pull-left(href="#{link.url}" target="_blank") #{link.title.toUpperCase()} 
																i.fa.fa-share
														.span3
															- var update = "update" + link._id
															- var dispmodif = "dispmodif" + link._id
															- var tagsmodif = "tagsmodif" + link._id
															- var suppr = "suppr" + link._id
															
															div.btn-group(style="float:right;position:relative;")
																a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
																	i.fa.fa-cog(style="font-size:21px") 
																	|  
																	span.caret
																ul.dropdown-menu(style="right: 0; left: auto;")
																	li
																		a(href="#NULL", onClick="fillTags('##{tagsmodif}','#{link.tags}');$('##{update}').css('visibility','visible').hide().fadeIn().removeClass('hidden');$('##{suppr}').hide();")
																			i.fa.fa-edit
																			|  Modifier
																			
																	li
																		a(id= suppr, class="suppr", href="/delete/#{link._id}")
																			i.fa.fa-times
																			|  Supprimer
													.row-fluid
														p.pull-left.comment.blue
															“#{link.description}”
													.row-fluid
														p.pull-left
															| Partagé le #{link.date}

											hr.black
											.row-fluid.rating-desc
												div.span12
													each ctag in link.tags
														span.tag ##{ctag.toUpperCase()}

											div.hide(id= update)
												br
												button.btn.close(onClick="$('##{update}').hide();$('##{suppr}').show();") X
												form(action='/update/#{link._id}', method='post')
													input#url.span4(type="hidden", name="url", placeholder="URL", value="#{link.url}", required="required")
													input(id="titre", type="text", maxlength="25" , name="titre", value="#{link.title}", placeholder="Titre", required="required")
													input#description.span4(type="text", maxlength="40" , name="description", placeholder="Description", value="#{link.description}", required="required")
													p.blue
														i.fa.fa-tags
														| Tags :
													p
														input.modtags(name="tags", id= tagsmodif,  placeholder="Tags", multiple)
													button.btn.btn-success(type="submit") Valider
						if filtre
							a.btn.pull-left(href="/profil") Annuler filtre

					else
						if filtre
							h4.blue Désolé, aucun lien ne correspond à votre filtre. 
							a.btn(href="/profil") Retour
						else
							h4.blue Désolé, vous n'avez partagé aucun lien. 
							a.username#afficher(href="#null", onClick="$('#afficher').hide();$('#partage').css('visibility','visible').hide().fadeIn().removeClass('hidden');") Partagez votre premier lien!
