!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title LinkFeed - #{user}
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		
		link(href='/select2/select2.css', rel='stylesheet')
		
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
			

		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src="/bootstrap/js/bootstrap-tagsinput.min.js")
		script(src='/select2/select2.js')
		
		script.
			//- $(function(){$('a.suppr').tooltip({placement:'right'});});
			
		script.
		
			function fillTags(id, tags){
				var tagsarray = tags.split(",");
				$(id).select2('val',[tagsarray]);
			};
		
			$(document).ready(function() { 
				var myArray="[#{data}]";
				myArray=myArray.replace(/&quot;/gi,"");
				myArray=myArray.replace(/\[/gi,"");
				myArray=myArray.replace(/\]/gi,"");
				myArray=myArray.split(',');
			
				$("#e1").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					}
				}); 
				
				
				$(".modtags").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					}
				});
				
				
				$("#e2").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("#","");
					}
				}); 
				
				$('.dropdown-toggle').click(function(e) {
					e.preventDefault();
					setTimeout($.proxy(function() {
						if ('ontouchstart' in document.documentElement) {
							$(this).siblings('.dropdown-backdrop').off().remove();
						}
					}, this), 0);
				});
				
			});

	body
			div.header.row
				div
					div.navbar.navbar-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li
										a(href='/feed')
											i.icon-comments
											br
											| Mon Feed
									li.current-page
										a(href='/profil')
											i.icon-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.icon-off
											br
											| Déconnexion

		div.page-title
			div.container
				div.row
					div.span12
						i.icon-tasks.page-title-icon
						h2
							| Bienvenue 
							b.blue #{user.charAt(0).toUpperCase()}#{user.slice(1)} 
							| /
							p Vous pouvez consulter vos informations et postez des liens.
							
						form.form-search.pull-right(method="POST",action="/profil/search",accept-charset="UTF-8")
							div.filtre
								input#data(type="hidden" name="data" value="#{data}")
								input#e2(name="searchfield", placeholder="Filtrer par tags", style="margin-right:5px;")
								button.btn.btn-info(id="searchbtn" type="submit")
									i.icon-search
								
		div.container
			div.row-fluid
				div.span12
					a.btn.btn-info.btn-large#afficher(onClick="$('#afficher').hide();$('#partage').css('visibility','visible').hide().fadeIn().removeClass('hidden');")
						i.icon-share
						|  Partager un lien
					a.btn.btn-info.btn-large(style="margin:3px 0 0 15px", href="/friends")
						i.icon-user
						|  Voir amis
					a.btn.btn-info.btn-large(style="margin:3px 0 0 15px", href="/pendingRequests")
						| Demandes en attente 
						span.badge  #{nbddes}
								
					br
					br
					div.hide#partage
						br
						br
						div.row
							div.span10.offset1.well
								button.close(onClick="$('#partage').hide('slow');$('#afficher').show();") ×
								h3.blue Partage de lien :
								form(method="POST", action="/lien/new", accept-charset="UTF-8")
									input#url.span4(type="url", name="url", value="http://", required="required")
									input#description.span4(type="text", name="description", placeholder="Description", required="required")
									p.blue
										i.icon-tags
										| Tags :
									p
										input#e1(name="tags", placeholder="Tags", multiple)
									button.btn.btn-info(type="submit")
										i.icon-share
										|  Partager !
			
		div.container
			div.row
				div.span12
					if links.length != 0
						h4.blue Vos liens publiés :
						br
						.container
							.row
								each link in links
									.span6
										.well
											.row-fluid
												.span3
													img.img-rounded(src='http://images.shrinktheweb.com/xino.php?stwembed=1&stwxmax=120&stwymax=90&stwaccesskeyid=cb820c771236ff3&stwurl=#{link.url}', border='0')
													//- <img src="http://bootsnipp.com/apple-touch-icon-114x114-precomposed.png" alt="bootsnipp" class="img-rounded img-responsive" />
												.span9
													.row-fluid
														a.url.pull-left(href="#{link.url}" target="_blank") #{link.url.replace("http://www.","").replace("https://www.","").replace("http://","").replace("https://","").toUpperCase()} 
														- var update = "update" + link._id
														- var dispmodif = "dispmodif" + link._id
														- var tagsmodif = "tagsmodif" + link._id
														- var suppr = "suppr" + link._id
														
														div.btn-group(style="float:right;position:relative;")
															a.btn.dropdown-toggle(data-toggle='dropdown', href='#')
																i.icon-cog(style="font-size:21px") 
																|  
																span.caret
															ul.dropdown-menu	
																li
																	a(onClick="fillTags('##{tagsmodif}','#{link.tags}');$('##{update}').css('visibility','visible').hide().fadeIn().removeClass('hidden');$('##{suppr}').hide();")
																		i.icon-edit
																		|  Modifier
																		
																li
																	a(id= suppr, class="suppr", href="/delete/#{link._id}")
																		i.icon-remove
																		|  Supprimer
													.row-fluid
														p.pull-left
															span.comment.blue
																“#{link.description}” 
													.row-fluid
														p.pull-left
															| Partagé le #{link.date}

											hr.black
											.row-fluid.rating-desc
												div.span12
													each ctag in link.tags
														span.tag #{ctag.toUpperCase()}

											div.hide(id= update)
												br
												button.btn.close(onClick="$('##{update}').hide();$('##{suppr}').show();") X
												form(action='/update/#{link._id}', method='post')
													input#url.span4(type="hidden", name="url", placeholder="URL", value="#{link.url}", required="required")
													input#description.span4(type="text", name="description", placeholder="Description", value="#{link.description}", required="required")
													p.blue
														i.icon-tags
														| Tags :
													p
														input.modtags(name="tags", id= tagsmodif,  placeholder="Tags", multiple)
													button.btn.btn-success(type="submit") Valider

					else
						h4.blue Aucun lien

