!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title LinkFeed - #{userdisp[0]._id}
		link(rel='shortcut icon',href='/img/favicon.ico')
		link(rel='icon',href='/img/favicon.ico')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
			
		script(src="/js/jquery-1.8.2.min.js")
		script(src="/js/md5hash.js")
		

	body
		div.header.row
			div
				div.navbar.navbar-top
					div.navbar-inner
						a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
							span.icon-bar
							span.icon-bar
							span.icon-bar
						h1
							a.brand LinkFeed
						div.nav-collapse.collapse
							ul.nav.pull-right
								li
									a(href='/feed')
										i.fa.fa-comments
										br
										| Mon Feed
								li
									a(href='/profil')
										i.fa.fa-user
										br
										| Mon Profil
								li
									a(href='/user/logout')
										i.fa.fa-power-off
										br
										| Déconnexion

		div.page-title
			div.container
				div.row
					div.span12
						i.fa.fa-tasks.page-title-icon
						h2
							| Profil de 
							b.blue #{userdisp[0]._id.charAt(0).toUpperCase()}#{userdisp[0]._id.slice(1)}
							|  /
							p Vous pouvez consulter ses informations et ses liens postés.
							
						- var nbamis = 0
						if userdisp[0].friends
							- each friend in userdisp[0].friends
								if friend.confirmed == true
									- nbamis++
							
							
						- var ami = false
						- var pending = false
						- var pending2 = false
						
						if userdisp[0].friends
							- each friend in userdisp[0].friends
								if friend.user == currentuser && friend.confirmed == true
									- ami = true
								else if friend.demandeur && friend.user == currentuser
									if friend.demandeur == currentuser
										- pending = true
									if friend.demandeur == userdisp[0]._id
										-pending2 = true
										
										
						if ami == true
							a.btn.btn-danger.btn-large.pull-right(href="/deleteFriend/#{userdisp[0]._id}")
								i.fa.fa-user
								|  Retirer de la liste d'amis
						else if pending == true
							a.btn.btn-danger.btn-large.pull-right(style="margin-left:15px", href="/rejectRequest/#{userdisp[0]._id}")
								i.fa.fa-times
								|  Annuler
							a.btn.btn-info.btn-large.disabled.pull-right()
								i.fa.fa-ellipsis-h
								|  Demande en attente
						else if pending2 == true
							a.btn.btn-danger.btn-large.pull-right(style="margin-left:15px", href="/rejectRequest/#{userdisp[0]._id}")
								i.fa.fa-times
								|  Refuser la demande
							a.btn.btn-success.btn-large.pull-right(href="/confirmRequest/#{userdisp[0]._id}")
								i.fa.fa-check
								|  Confirmer la demande
						else
							a.btn.btn-info.btn-large.pull-right(href="/addFriend/#{userdisp[0]._id}")
								i.fa.fa-plus
								|  Ajouter à la liste d'amis
		
		div.container.well
			div.row-fluid
				div.span12
					div.row-fluid
						div.span3
							script(type="text/javascript") email = "#{userdisp[0].email}";hash_email = calcMD5(email); document.write("<img src='http://www.gravatar.com/avatar/"+hash_email+"?d=mm&s=140' />")
							p.blue
								| Inscrit depuis le 
								b
									| #{userdisp[0].date_ins} 
						div.span9
							h4.blue À propos :
							br
							p.blue Adresse email : 
								a.link(href='mailto:#{userdisp[0].email}') #{userdisp[0].email}
								
							p.blue Nombre de liens postés : 
								span.badge.badge-info #{links.length}
							
							p.blue Nombre d'amis : 
								span.badge.badge-info #{nbamis}
								
		div.container
			div.row
				div.span12
					if links.length != 0
						.container
							.row
								each link in links
									.span6
										.well
											.row-fluid
												.span3
													img.img-rounded(src='http://images.shrinktheweb.com/xino.php?stwembed=1&stwxmax=120&stwymax=90&stwaccesskeyid=cb820c771236ff3&stwurl=#{link.url}', border='0')
												.span9
													.row-fluid
														a.link.url.pull-left(href="#{link.url}" target="_blank") #{link.title.toUpperCase()} 
															i.fa.fa-share
													.row-fluid
														p.pull-left(style="margin-top:5px")
															span.comment.blue
																“#{link.description}” 
													.row-fluid
														p.pull-left
															| Partagé le #{link.date}
											hr.black
											.row-fluid.tags-bar
												div.span12
													each ctag in link.tags
														span.tag ##{ctag.toUpperCase()}

												
					else
						h4.blue Il n'a posté aucun lien