!!! 5
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title LinkFeed - Recherche de contacts
		
		link(rel='shortcut icon', href='/img/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='57x57', href='/img/apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/img/apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/img/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/img/apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/img/apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/img/apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/img/apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/img/apple-touch-icon-152x152.png')
		
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Sans')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/font-awesome-4.0.3/css/font-awesome.css')
		link(rel='stylesheet', href='/css/style.css')
		
		link(href='/select2/select2.css', rel='stylesheet')
		
		//if lt IE 9
		script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
			

		script(src="/js/jquery-1.8.2.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
		script(src='/select2/select2.js')
		script(src="/js/md5hash.js")
		
		script.
		

		
			$(document).ready(function() { 
			
				$("[rel='tooltip']").tooltip();
			
				var myArray="#{data}";
				myArray=myArray.split(',');
				
				var filtresTab="#{filtresTab}";
				filtresTab=filtresTab.split(',');
			
				$("#e1").select2({
					width: 'resolve',
					tags:myArray,
					multiple: true,
					id: function(object) {
						return object.text.replace("@","");
					},
					closeOnSelect: true
				}); 
				
				$("#e1").select2('val',[filtresTab]);

				
			});

	body
			div.header.row
				div
					div.navbar.navbar-top
						div.navbar-inner
							a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
								span.icon-bar
								span.icon-bar
								span.icon-bar
							h1
								a.brand(href='/feed') LinkFeed
							div.nav-collapse.collapse
								ul.nav.pull-right
									li
										a(href='/feed')
											i.fa.fa-comments
											br
											| Mon Feed
									li
										a(href='/profil')
											i.fa.fa-user
											br
											| Mon Profil
									li
										a(href='/user/logout')
											i.fa.fa-power-off
											br
											| Déconnexion

		div.page-title
			div.container
				div.row
					div.span12
						i.fa.fa-tasks.page-title-icon
						h2
							| Faites-vous des amis 
							
						form.form-search.pull-right(method="POST",action="/users/search",accept-charset="UTF-8")
							div.filtre
								input#data(type="hidden" name="data" value="#{data}")
								input#e1(name="searchfield", placeholder="Filtre par nom d'utilisateur")
								button.btn-flat-blue(id="searchbtn" type="submit")
									i.fa.fa-search

		div.container
			div.row
				div.span12
					if users.length != 0
						.container
							.row
								each user in users
										.span4
											.well
												.row-fluid
													.span4
														a(target="_blank", href="/profil/#{user._id.toLowerCase()}")
															script(type="text/javascript") email = "#{user.email}";hash_email = calcMD5(email); document.write("<img class='img-avatar' src='http://www.gravatar.com/avatar/"+hash_email+"?d=mm&s=60' />");
													.span8
														.row-fluid
															.span12
																a.link.pull-left(href="/profil/#{user._id.toLowerCase()}")
																	i.fa.fa-user
																	|  #{user._id.toUpperCase()} 
																	
																- var pending = false
																- var pending2 = false
																
																if user.friends
																	- each friend in user.friends
																		if friend.confirmed == false && friend.demandeur && friend.user == currentuser
																			if friend.demandeur == currentuser
																				- pending = true
																			if friend.demandeur == user._id
																				-pending2 = true
																				
																				
																if pending == true
																	a.btn-flat-red.pull-right(rel="tooltip", data-toggle="tooltip" , data-original-title="Annuler demande", style="padding:3px 6px 3px 6px;margin-left:5px", href="/rejectRequest/#{user._id}")
																		i.fa.fa-times
																	a.btn-flat-blue.btn-disabled.pull-right(rel="tooltip", data-toggle="tooltip" , data-original-title="Demande en attente", style="padding:3px 6px 3px 6px;")
																		i.fa.fa-spinner
																else if pending2 == true
																	a.btn-flat-red.pull-right(rel="tooltip", data-toggle="tooltip" , data-original-title="Refuser invitation", style="padding:3px 6px 3px 6px;margin-left:5px", href="/rejectRequest/#{user._id}")
																		i.fa.fa-times
																	a.btn-flat-green.pull-right(rel="tooltip", data-toggle="tooltip" , data-original-title="Confirmer invitation", style="padding:3px 6px 3px 6px;",href="/confirmRequest/#{user._id}")
																		i.fa.fa-check
																else
																	a.btn-flat-blue.pull-right(rel="tooltip", data-toggle="tooltip" , data-original-title="Ajouter en ami", style="padding:3px 6px 3px 6px;",href="/addFriend/#{user._id}")
																		i.fa.fa-plus
																	
																	
														.row-fluid
															p.pull-left.comment.blue(style="font-size:12px")
																a.link(href='mailto:#{user.email}') #{user.email}
												.row-fluid
													p.pull-left(style="margin:10px 0 0 10px")
														| Inscrit depuis le #{user.date_ins} 

												hr.black
												.row-fluid.tags-bar
													div.span12
														span.tag
															- var nbamis = 0
															if user.friends
																- each friend in user.friends
																	if friend.confirmed == true
																		- nbamis++
																| #{nbamis} amis
															else
																| 0 ami
															
														- var nblinks = 0
														- each link in links
															if link.user == user._id
																- nblinks++
														
														span.tag
															if nblinks == 0
																| #{nblinks} lien partagé
															else
																| #{nblinks} liens partagés
											
						if filtre
							a.btn.pull-left(href="/users") Annuler filtre											

					else
						if filtre
							h4.blue Désolé, aucun utilisateur ne correspond à votre filtre. 
							a.btn(href="/users") Retour
						else
							h4.blue Désolé, il n'y a aucun utilisateur sur LinkFeed
							h5.blue Invitez vos amis!